body {
	font-family:arial;
}

.column {
  float: left;
  padding-left: 10%;
  width: 50%;
}

.menu {
  float: left;
  width: 20%;
  background-color:#4B4B4B;
  padding-bottom:100px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
	width:10%;
}
 #hatter {
	width:100%;
 }
 
 h1 {
	 font-size:60px;
	 
 }
 
  h2 {
	 font-size:30px;
 }
 
 a:link {
	margin-left:10%;
	text-decoration:none;
	color:white;
}

a:visited{
	color:white;
}

hr {
	border: 2px solid #333333;
	border-bottom:1px solid #595959;
	width: 90%;
	
}


